extends layout

block content
	.headbar
		img(src='/images/books.jpg')
		.slogan
			h3
				| GET READER FEEDBACK
				br
				span.italic BEFORE
				|  YOU HIT PUBLISH
	.mid-block
		.testimonial.left
			h3 GET FEEDBACK FROM REAL READERS
			p
				| _____
			h3 EDIT RAPIDLY, PUBLISH SOONER
			p
				| _____
			h3 REACH NEW FANS
			p
				| _____
			p
				| _____
		.testimonial.sign-up
			h3 FIND A BETA READER
			form(role='form', method='post', action='/formsubmit')
				.form-group
					label(for='exampleInputEmail1') Name
					input#name.form-control(type='name', placeholder='First Name', name='name')
				.form-group
					label(for='exampleInputPassword1') Email
					input#exampleInputEmail1.form-control(type='email', placeholder='Email', name='email')
				//- .form-group
				//- 	label(for='exampleInputFile') Attach your manuscript here
				//- 	input#exampleInputFile(type='file')
				p.help-block
					| BookBeta is still in, well, private beta mode. Sign up to be notified as soon as we have an army of beta readers at your disposal.
				.checkbox
					label
					input(type='checkbox', name='wantsNotification', checked)
					| Notify my when BookBeta is ready
				button.btn.btn-default(type='submit') Submit
	.faq
		h3 Frequently Asked Questions
		#accordion.panel-group
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
							| What is a beta reader, anyway?
				#collapseOne.panel-collapse.collapse
					.panel-body
						| A beta reader is a non-professional who simply loves to read. A good beta reader will give you honest feedback on everything from grammar to storyline.
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
							| I already have an editor. Do I really need a beta reader?
				#collapseTwo.panel-collapse.collapse
					.panel-body
						| Yes.
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
							| How soon can I get feedback?
				#collapseThree.panel-collapse.collapse
					.panel-body
						| Beta readers usually provide feedback within 24-48 hours.
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
							| What if my beta reader provides unsatisfactory feedback?
				#collapseFour.panel-collapse.collapse
					.panel-body
						| We have a rating system in place to ensure quality results from our readers. If a reader does not provide appropriate or complete feedback, we will remove the reader from the reader pool.  
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')
							| Where does my money go?
				#collapseFive.panel-collapse.collapse
					.panel-body
						| 85% of the author fee goes directly to the reader. The other 15% keeps the site running.
		h6
			a(href='mailto:vancjenniferm@gmail.com') Don't See Your Question Here? Email Us!

block stylesheet
	link(rel='stylesheet', href='/stylesheets/authorsignup.css')