extends layout

block content
	.headbar
		.top-box
	.summary
		h3 Yikes!
		p This page is coming soon -- check back in a bit.
		p ____________
		.headbar
	.summary
		img(src='/images/thankyou.jpg')
		.headbar

block stylesheet
	link(rel='stylesheet', href='/stylesheets/comingsoon.css')