extends layout

block content
	.headbar
		.top-box
		//- .slogan
		//- 	h3
		//- 	| GET FEEDBACK
		//- 	br
		//- 	span.italic BEFORE
		//- 	| YOU HIT PUBLISH
	.summary
		h3 Step 1
		p Request a Beta Reader with one click.
		p ____________
		.headbar
			//- .middle-box
			//- .slogan
			//- 	h3
			//- 	| GET FEEDBACK
			//- 	br
			//- 	span.italic BEFORE
			//- 	| YOU HIT PUBLISH
	.summary
		h3 Step 2
		p
			| Receive Feedback within 24-48 hours (depending on the length of your manuscript).
		p ____________
		.headbar
			//- .middle-box
			//- .slogan
			//- 	h3
			//- 	| GET FEEDBACK
			//- 	br
			//- 	span.italic BEFORE
			//- 	| YOU HIT PUBLISH
	.summary
		h3 Step 3
		p
			| Authors and Readers rate each other to ensure quality standards for every member of the community.
		p ____________
		h4
			a(href='authorsignup')
				| Find a Beta Reader Now

block stylesheet
	link(rel='stylesheet', href='/stylesheets/howitworks.css')
