extends layout

block content
	.headbar
		img(src='/images/books.jpg')
		.slogan
			h3
				| GET READER FEEDBACK
				br
				span.italic BEFORE
				|  YOU HIT PUBLISH
		//- .cta-button
		//- 	button(type='button') Find A Beta Reader
	.summary
		p
			| Get a Beta reader for honest feedback before you publish. Request a reader with one click, and get feedback within 24 hours.
		p ____________
		h4
			a(href='howitworks')
				| See How It Works >>
	.benefits
		.benefit
			h3 EFFORTLESS
			p
			| Well, relatively -- you do have to write your manuscript first. You tell us what genre and demographic your book is targeting and we'll find you a reader who matches that description. Receive feedback in as little as 24 hours.
		.benefit.middle
			h3 AFFORDABLE
			p
			| We charge by the word to ensure fairness for manuscripts of every length. What's more, having real fans critique your story lets you make changes before you release it to the world, increasing the book's potential value for its entire "shelf-life." 
		.benefit
			h3 RISK FREE
			p
			| We utilize an anonymous rating system to maintain the highest standards of quality for both authors and readers alike. We want readers to feel they can be thoroughly honest so that we can maximize value for you as an author.
	//- .future-video
	//- 	img(src='http://placekitten.com/800/400')

block stylesheet
	link(rel='stylesheet', href='/stylesheets/index.css')