.navbark
	h1
		a(href='/')
			| BookBETA
	ul.nav1
		li
			a(href='howitworks', class='#{a}') HOW IT WORKS
		li
			a(href='authorsignup', class='#{b}') FIND A BETA
		li
			a(href='readersignup', class='#{c}') BECOME A BETA
		li 
			a(href='comingsoon', class='#{d}') OUR MISSION
