extends layout

block content
	.headbar
		img(src='/images/books.jpg')
		.slogan
			h3
				| BE YOUR OWN BOSS 
				br
				| (IN YOUR PAJAMAS)
	.mid-block
		.testimonial.left
			h3 CHOOSE YOUR HOURS
			p
				| _____
			h3 GET PAID TO READ
			p
				| _____
			h3 DISCOVER NEW FAVORITES
			p
				| _____
			p
				| _____
		.testimonial.sign-up
			h3 SIGN UP TO BE A BETA READER
			form(role='form', method='post', action='/formsubmit')
				.form-group
					label(for='name') Name
					input#name.form-control(type='name', placeholder='First Name', name='name')
				.form-group
					label(for='exampleInputEmail1') Email
					input#exampleInputEmail1.form-control(type='email', placeholder='Email', name='email')
				p.help-block
					| BookBeta is still in, well, private beta mode. Sign up to be notified as soon as we start gathering our army of beta readers.
				.checkbox
					label
					input(type='checkbox', name='addToMailingList', checked)
					| Notify me when BookBeta is ready
				button.btn.btn-default(type='submit') Submit
	.faq
		h3 FREQUENTLY ASKED QUESTIONS
		#accordion.panel-group
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
							| I already have a job. Can I still be a beta reader?
				#collapseOne.panel-collapse.collapse
					.panel-body
						| Yes.
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
							| What are the requirements to be a reader?
				#collapseTwo.panel-collapse.collapse
					.panel-body
						| You have to love reading. Like, really love it. That is the only requirement.
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
							| How does the application process work?
				#collapseThree.panel-collapse.collapse
					.panel-body
						| You apply, we review your application and place you in your favorite genres, then we start sending you manuscripts to curl up with.
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
							| What if I hate the manuscript I'm assigned?
				#collapseFour.panel-collapse.collapse
					.panel-body
						| Tell the author exactly what you thought about their grammar, characters, and story. Provide as much detail as you can. 
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')
							| How often do I get paid?
				#collapseFive.panel-collapse.collapse
					.panel-body
						| You will receive weekly payments.

		h6
			a(href='mailto:vancejenniferm@gmail.com') Don't See Your Question Here? Email Us!

block stylesheet
	link(rel='stylesheet', href='/stylesheets/readersignup.css')
