extends layout

block content
	.headbar
		.top-box
	.summary
		h3 Thank You!
		p Let's revolutionize the publishing industry together.
		p ____________
		.headbar
	.summary
		img(src='/images/thankyou.jpg')
		.headbar

block stylesheet
	link(rel='stylesheet', href='/stylesheets/thankyou.css')